body{
    background-color: rgb(163, 169, 194);
}


#cv-form{

    /*display: none;*/
}
.myimg {
    border: 1px solid rgb(212, 140, 140);
    border-radius: 50%;
    width: 180px;
}
.background{
    background-color: rgba(235, 210, 179, 0.875);
}
#cv-template{
    display: none;
}

#vikas{
    color: rgb(156, 227, 75);
 font-size: 30px;
margin:10px,10px;

    
}
.container{
    display: block;
    padding-left: 10px;
    padding-right: 10px;

    padding-top: 10px;
    padding-bottom: 10px;



}
.viku{
    padding-left: 10;
    padding-right: 10;
    padding-top: 10;
    padding-bottom:10;
}